*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle_plugin/build/
.idea/
plugin_module/build
repo
app/copy_des_dir
app/copy_src_dir
mylibrary/copy_des
